
<div class="section section_application">
    <div class="container">
        <div class="application">
            <div class="section__title application__title">Способ <span>применения:</span></div>
            <div class="application__list">
                <div class="application__item">
                    <div class="application__media"></div>
                    <div class="application__count">1.</div>
                    <div class="application__description">
                        Нанесите крем на чистую и сухую кожу и равномерно распределите по воспаленной области.
                    </div>
                </div>
                <div class="application__item">
                    <div class="application__media"></div>
                    <div class="application__count">2.</div>
                    <div class="application__description">
                        Сделайте легкий массаж. 
                    </div>
                </div>
                <div class="application__item">
                    <div class="application__media"></div>
                    <div class="application__count">3.</div>
                    <div class="application__description">
                        В зависимости от степени заболевания, наносите крем 2-3 раза в день.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
