
<section class="section section_extract">
    <div class="container">
        <div class="extract">
            <div class="section__title extract__title">Osteowell не имеет противопоказаний </div>
            <div class="extract__subtitle">Osteowell не имеет побочного эффекта, поскольку изготовлен из экологически чистого сырья и натуральных ингредиентов. Активная формула крема не содержит химических соединений, негативно влияющих на здоровье человека.</div>
            <div class="extract__body">
                <div class="extract__item">
                    <div class="extract__name">Экстракт смолы босвеллии:</div>
                    <div class="extract__description">
                        <ul>
                            <li>снимает болевой синдром и воспаление; </li>
                            <li>улучшает подвижность суставов; </li>
                            <li>обеспечивает питательную поддержку опорно-двигательному аппарату.</li>
                        </ul>
                    </div>
                </div>
                <div class="extract__item">
                    <div class="extract__name">Экстракт арники монтаны: </div>
                    <div class="extract__description">
                        <ul>
                            <li>уменьшает выпирающую косточку; </li>
                            <li>снимает отечность; </li>
                            <li>устраняет ощущение скованности в суставах; </li>
                            <li>предотвращает болезни стоп.</li>
                        </ul>
                    </div>
                </div>
                <div class="extract__item">
                    <div class="extract__name">Троксерутин</div>
                    <div class="extract__description">
                        <ul>
                            <li>способствует быстрому восстановлению и регенерации костной и хрящевой тканей; </li>
                            <li>улучшает кровоснабжение; </li>
                            <li>снижает проницаемость стенок сосудов, уменьшает их ломкость.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>