
<div class="section section_order">
    <div class="container">
        <div class="order">
            <div class="section__title order__title">Как сделать заказ?</div>
            <div class="order__list">
                <div class="order__item">
                    <div class="order__media"></div>
                    <div class="order__description">
                        Заполните форму заказа
                    </div>
                </div>
                <div class="order__item">
                    <div class="order__media"></div>
                    <div class="order__description">
                        Дождитесь звонка оператора и получите бесплатную консультацию
                    </div>
                </div>
                <div class="order__item">
                    <div class="order__media"></div>
                    <div class="order__description">
                        Внесите предоплату или оплатите товар при получении
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
