<section class="section section_pain">
    <div class="container">
        <div class="pain">
            <div class="pain__body">
                <div class="pain__product">
                    <img src="../media/product.png" alt="">
                </div>
                <div class="pain__content">
                    <div class="section__title pain__title">Избавьтесь от боли <span>и выпирающей</span> косточки</div>
                    <div class="pain__subtitle">Osteowell – крем, комплексно воздействующий на заболевание и восстанавливающий деформированную стопу</div>
                    <p>Взаимодействие органических компонентов Osteowell способствует быстрому купированию болевого синдрома и восстановлению поврежденных костных тканей.</p>
                    <p>В течение первой недели после начала приема натурального препарата Osteowell, останавливается разрушение хряща плюснефалангового сустава, стимулируется рассасывание воспалительных отеков и запускается регенерация поврежденной костной ткани.</p>
                    <div class="pain__btn">ЗАКАЗАТЬ</div>
                </div>
            </div>
        </div>
    </div>
</section>