
<div class="section section_problems">
    <div class="container">
        <div class="problems">
            <div class="section__title problems__title">Всего один симптом говорит <mark>о серьезной проблеме</mark></div>
            <div class="problems__list">
                <div class="problems__item">Кончик большого пальца отклоняется в сторону</div>
                <div class="problems__item">Появляется твердое костное уплотнение у основания пальца</div>
                <div class="problems__item">Немеют пальцы и ступни</div>
                <div class="problems__item">Судороги в икроножных мышцах</div>
                <div class="problems__item">Дискомфорт и боль при ходьбе</div>
                <div class="problems__item">Отечность и покраснение в ногах</div>
            </div>
        </div>
    </div>
</div>
