
<section class="section section_step">
    <div class="container">
        <div class="step">
            <div class="section__title step__title">Механизм действия Osteowell</div>
            <div class="step__body">
                <div class="step__item">
                    <div class="step__week step__week_1">1 неделя</div>
                    <div class="step__info">Проникает в глубокие слои кожи и снимает острые и хронические воспалительные процессы, уменьшает выраженность болей и улучшает подвижность сустава.</div>
                </div>
                <div class="step__item">
                    <div class="step__week step__week_2">2 неделя</div>
                    <div class="step__info">Стимулирует вывод жидкости из сустава и рассасывание воспалительных отеков. Исключает натирание кожи, образование натоптышей и  мозолей.</div>
                </div>
                <div class="step__item">
                    <div class="step__week step__week_3">3 неделя</div>
                    <div class="step__info">Восстанавливает кровоснабжение и выводит соли мочевой кислоты за счет чего уменьшается выпирающая косточка.</div>
                </div>
                <div class="step__item">
                    <div class="step__week step__week_4">4 неделя</div>
                    <div class="step__info">Восстанавливает суставную ткань и предупреждает распространение патологии на здоровые суставы стопы.</div>
                </div>
            </div>
        </div>
    </div>
</section>